#contacto {
    margin-left: 20px;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#contacto input,
#contacto textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

#contacto button {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

#linkFuente {
  margin-top: 20px;
}

@media (max-width: 600px) {
  #contacto {
    margin-left: 20px;
    max-width: 600px;
    margin: 0px auto; 
    padding: 30px;
}

  #contacto input,
  #contacto textarea,
  #contacto button {
    font-size: 14px;
    padding: 10px;
  }
}
