#tituloProductos {
  margin-left: 20px;
}

.buscador-con-boton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

#buscador-producto {
  width: 800px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
}

#btn-buscar {
  height: 40px;
  font-size: 16px;
}

#btnReestablecer {
  height: 40px;
  font-size: 16px;
}

#foto-producto {
  width: 200px;  
  border: 2px solid black;
  border-radius: 4px; 
  margin-bottom: 15px;
  display: block;
}

#resultadosBusqueda{
  margin-left: 20px;
}